<div class="kop">
<h1>Fear-Setting</h1>
<h4>inspired by Tim Ferris' TED Talk</h4>
</div>
Your Challenges:
<% @challenges.each do |c| %>
    <div class="challenge">
      <%= c.description %>
    </div>
    Can you accept the consequences of not taking action?
    <div class="challenge">
      <% if c.acceptable %>
        Yes
      <% else %>
        No: Begin now!
      <% end %>
    </div
  <button class="knop-1"><%= link_to "Challenge Details", challenge_path(c) %></button>
<% end %>
