.input_textbox {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.knop-1 {
    color: white !important;
    padding: 10px 20px;
    font-weight: bold;
    background: #469AE0;
    transition: background 0.5s ease;
    border-radius: 50px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    a {
        text-decoration: none;
        color: white;
    }
  }

  .kop {
      text-align: center;
      padding-bottom: 30px;
  }

  .challenge {
    font-size: larger;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: midnightblue;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 10px;
  }

  .textbox {
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: midnightblue;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 10px;
  }