.input_textbox {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.knop-1 {
    color: white !important;
    padding: 10px 20px;
    font-weight: bold;
    background: #469AE0;
    transition: background 0.5s ease;
    border-radius: 50px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    a {
        text-decoration: none;
        color: white;
    }
  }